*
!bin/
!etc/

!dist/

!RHASSPY_DIRS
!RHASSPY_SERVICES
!requirements.txt
!VERSION
!docker/pulseaudio.client.conf
!docker/bin

!download

# Source
!rhasspy-asr/rhasspyasr/*.py
!rhasspy-asr-deepspeech-hermes/rhasspyasr_deepspeech_hermes/*.py
!rhasspy-asr-pocketsphinx/rhasspyasr_pocketsphinx/*.py
!rhasspy-asr-pocketsphinx-hermes/rhasspyasr_pocketsphinx_hermes/*.py
!rhasspy-asr-kaldi/rhasspyasr_kaldi/*.py
!rhasspy-asr-kaldi/etc
!rhasspy-asr-kaldi/scripts
!rhasspy-asr-kaldi-hermes/rhasspyasr_kaldi_hermes/*.py
!rhasspy-dialogue-hermes/rhasspydialogue_hermes/*.py
!rhasspy-fuzzywuzzy/rhasspyfuzzywuzzy/*.py
!rhasspy-fuzzywuzzy-hermes/rhasspyfuzzywuzzy_hermes/*.py
!rhasspy-hermes/rhasspyhermes/*.py
!rhasspy-homeassistant-hermes/rhasspyhomeassistant_hermes/*.py
!rhasspy-microphone-cli-hermes/rhasspymicrophone_cli_hermes/*.py
!rhasspy-microphone-pyaudio-hermes/rhasspymicrophone_pyaudio_hermes/*.py
!rhasspy-nlu/rhasspynlu/*.py
!rhasspy-nlu-hermes/rhasspynlu_hermes/*.py
!rhasspy-profile/rhasspyprofile
!rhasspy-rasa-nlu-hermes/rhasspyrasa_nlu_hermes/*.py
!rhasspy-snips-nlu-hermes/rhasspysnips_nlu_hermes/*.py
!rhasspy-snips-nlu-hermes/etc/languages/*.tar.gz
!rhasspy-remote-http-hermes/rhasspyremote_http_hermes/*.py
!rhasspy-server-hermes/rhasspyserver_hermes/*.py
!rhasspy-server-hermes/templates
!rhasspy-server-hermes/web
!rhasspy-silence/rhasspysilence/*.py
!rhasspy-speakers-cli-hermes/rhasspyspeakers_cli_hermes/*.py
!rhasspy-supervisor/rhasspysupervisor/*.py
!rhasspy-tts-cli-hermes/rhasspytts_cli_hermes/*.py
!rhasspy-wake-pocketsphinx-hermes/rhasspywake_pocketsphinx_hermes/*.py
!rhasspy-wake-porcupine-hermes/rhasspywake_porcupine_hermes/*.py
!rhasspy-wake-porcupine-hermes/rhasspywake_porcupine_hermes/porcupine
!rhasspy-wake-precise-hermes/rhasspywake_precise_hermes/*.py
!rhasspy-wake-precise-hermes/rhasspywake_precise_hermes/models
!rhasspy-wake-snowboy-hermes/rhasspywake_snowboy_hermes/*.py
!rhasspy-wake-snowboy-hermes/rhasspywake_snowboy_hermes/models