*
!bin/
!etc/
!web/

!RHASSPY_DIRS
!requirements.txt
!VERSION

!rhasspy-asr/rhasspyasr
!rhasspy-asr-pocketsphinx/rhasspyasr_pocketsphinx
!rhasspy-asr-pocketsphinx-hermes/rhasspyasr_pocketsphinx_hermes
!rhasspy-asr-kaldi/rhasspyasr_kaldi
!rhasspy-asr-kaldi-hermes/rhasspyasr_kaldi_hermes
!rhasspy-dialogue-hermes/rhasspydialogue_hermes
!rhasspy-hermes/rhasspyhermes
!rhasspy-microphone-cli-hermes/rhasspymicrophone_cli_hermes
!rhasspy-microphone-pyaudio-hermes/rhasspymicrophone_pyaudio_hermes
!rhasspy-nlu/rhasspynlu
!rhasspy-nlu-hermes/rhasspynlu_hermes
!rhasspy-profile/rhasspyprofile
!rhasspy-server-hermes/rhasspyserver_hermes
!rhasspy-server-hermes/profiles
!rhasspy-silence/rhasspysilence
!rhasspy-speakers-cli-hermes/rhasspyspeakers_cli_hermes
!rhasspy-supervisor/rhasspysupervisor
!rhasspy-tts-cli-hermes/rhasspytts_cli_hermes
!rhasspy-wake-porcupine-hermes/rhasspywake_porcupine_hermes
!rhasspy-wake-snowboy-hermes/rhasspywake_snowboy_hermes