*
!bin/
!etc/

!debian/

# Autoconf
!aclocal.m4
!configure
!config.sub
!config.guess
!install-sh
!missing
!m4/
!Makefile.in
!setup.py.in
!rhasspy.sh.in
!rhasspy.spec.in

!RHASSPY_DIRS
!RHASSPY_SERVICES
!VERSION
!README.md
!LICENSE
!docker/pulseaudio.client.conf
!docker/bin

!download
!scripts/

# AppImage
!AppImageBuilder.yml
!docs/img

# Source
!__main__.py
!rhasspy/*.py

!rhasspy-asr/rhasspyasr/*.py
!rhasspy-asr/setup.py
!rhasspy-asr/requirements.txt
!rhasspy-asr/VERSION
!rhasspy-asr/README.md
!rhasspy-asr/MANIFEST.in

!rhasspy-asr-deepspeech/rhasspyasr_deepspeech/*.py
!rhasspy-asr-deepspeech/setup.py
!rhasspy-asr-deepspeech/requirements.txt
!rhasspy-asr-deepspeech/VERSION
!rhasspy-asr-deepspeech/README.md
!rhasspy-asr-deepspeech/MANIFEST.in

!rhasspy-asr-deepspeech-hermes/bin/rhasspy-asr-deepspeech-hermes
!rhasspy-asr-deepspeech-hermes/rhasspyasr_deepspeech_hermes/*.py
!rhasspy-asr-deepspeech-hermes/setup.py
!rhasspy-asr-deepspeech-hermes/requirements.txt
!rhasspy-asr-deepspeech-hermes/VERSION
!rhasspy-asr-deepspeech-hermes/README.md
!rhasspy-asr-deepspeech-hermes/MANIFEST.in

!rhasspy-asr-pocketsphinx/rhasspyasr_pocketsphinx/*.py
!rhasspy-asr-pocketsphinx/setup.py
!rhasspy-asr-pocketsphinx/requirements.txt
!rhasspy-asr-pocketsphinx/VERSION
!rhasspy-asr-pocketsphinx/README.md
!rhasspy-asr-pocketsphinx/MANIFEST.in

!rhasspy-asr-pocketsphinx-hermes/bin/rhasspy-asr-pocketsphinx-hermes
!rhasspy-asr-pocketsphinx-hermes/rhasspyasr_pocketsphinx_hermes/*.py
!rhasspy-asr-pocketsphinx-hermes/setup.py
!rhasspy-asr-pocketsphinx-hermes/requirements.txt
!rhasspy-asr-pocketsphinx-hermes/VERSION
!rhasspy-asr-pocketsphinx-hermes/README.md
!rhasspy-asr-pocketsphinx-hermes/MANIFEST.in

!rhasspy-asr-kaldi/rhasspyasr_kaldi/*.py
!rhasspy-asr-kaldi/setup.py
!rhasspy-asr-kaldi/requirements.txt
!rhasspy-asr-kaldi/VERSION
!rhasspy-asr-kaldi/README.md
!rhasspy-asr-kaldi/MANIFEST.in

!rhasspy-asr-kaldi-hermes/bin/rhasspy-asr-kaldi-hermes
!rhasspy-asr-kaldi-hermes/rhasspyasr_kaldi_hermes/*.py
!rhasspy-asr-kaldi-hermes/setup.py
!rhasspy-asr-kaldi-hermes/requirements.txt
!rhasspy-asr-kaldi-hermes/VERSION
!rhasspy-asr-kaldi-hermes/README.md
!rhasspy-asr-kaldi-hermes/MANIFEST.in

!rhasspy-dialogue-hermes/bin/rhasspy-dialogue-hermes
!rhasspy-dialogue-hermes/rhasspydialogue_hermes/*.py
!rhasspy-dialogue-hermes/setup.py
!rhasspy-dialogue-hermes/requirements.txt
!rhasspy-dialogue-hermes/VERSION
!rhasspy-dialogue-hermes/README.md
!rhasspy-dialogue-hermes/MANIFEST.in

!rhasspy-fuzzywuzzy/rhasspyfuzzywuzzy/*.py
!rhasspy-fuzzywuzzy/setup.py
!rhasspy-fuzzywuzzy/requirements.txt
!rhasspy-fuzzywuzzy/VERSION
!rhasspy-fuzzywuzzy/README.md
!rhasspy-fuzzywuzzy/MANIFEST.in

!rhasspy-fuzzywuzzy-hermes/bin/rhasspy-fuzzywuzzy-hermes
!rhasspy-fuzzywuzzy-hermes/rhasspyfuzzywuzzy_hermes/*.py
!rhasspy-fuzzywuzzy-hermes/setup.py
!rhasspy-fuzzywuzzy-hermes/requirements.txt
!rhasspy-fuzzywuzzy-hermes/VERSION
!rhasspy-fuzzywuzzy-hermes/README.md
!rhasspy-fuzzywuzzy-hermes/MANIFEST.in

!rhasspy-hermes/rhasspyhermes/*.py
!rhasspy-hermes/setup.py
!rhasspy-hermes/requirements.txt
!rhasspy-hermes/VERSION
!rhasspy-hermes/README.md
!rhasspy-hermes/MANIFEST.in

!rhasspy-homeassistant-hermes/bin/rhasspy-homeassistant-hermes
!rhasspy-homeassistant-hermes/rhasspyhomeassistant_hermes/*.py
!rhasspy-homeassistant-hermes/setup.py
!rhasspy-homeassistant-hermes/requirements.txt
!rhasspy-homeassistant-hermes/VERSION
!rhasspy-homeassistant-hermes/README.md
!rhasspy-homeassistant-hermes/MANIFEST.in

!rhasspy-microphone-cli-hermes/bin/rhasspy-microphone-cli-hermes
!rhasspy-microphone-cli-hermes/rhasspymicrophone_cli_hermes/*.py
!rhasspy-microphone-cli-hermes/setup.py
!rhasspy-microphone-cli-hermes/requirements.txt
!rhasspy-microphone-cli-hermes/VERSION
!rhasspy-microphone-cli-hermes/README.md
!rhasspy-microphone-cli-hermes/MANIFEST.in

!rhasspy-microphone-pyaudio-hermes/bin/rhasspy-microphone-pyaudio-hermes
!rhasspy-microphone-pyaudio-hermes/rhasspymicrophone_pyaudio_hermes/*.py
!rhasspy-microphone-pyaudio-hermes/setup.py
!rhasspy-microphone-pyaudio-hermes/requirements.txt
!rhasspy-microphone-pyaudio-hermes/VERSION
!rhasspy-microphone-pyaudio-hermes/README.md
!rhasspy-microphone-pyaudio-hermes/MANIFEST.in

!rhasspy-nlu/rhasspynlu/*.py
!rhasspy-nlu/setup.py
!rhasspy-nlu/requirements.txt
!rhasspy-nlu/VERSION
!rhasspy-nlu/README.md
!rhasspy-nlu/MANIFEST.in

!rhasspy-nlu-hermes/bin/rhasspy-nlu-hermes
!rhasspy-nlu-hermes/rhasspynlu_hermes/*.py
!rhasspy-nlu-hermes/setup.py
!rhasspy-nlu-hermes/requirements.txt
!rhasspy-nlu-hermes/VERSION
!rhasspy-nlu-hermes/README.md
!rhasspy-nlu-hermes/MANIFEST.in

!rhasspy-profile/rhasspyprofile
!rhasspy-profile/setup.py
!rhasspy-profile/requirements.txt
!rhasspy-profile/VERSION
!rhasspy-profile/README.md
!rhasspy-profile/MANIFEST.in

!rhasspy-rasa-nlu-hermes/bin/rhasspy-rasa-nlu-hermes
!rhasspy-rasa-nlu-hermes/rhasspyrasa_nlu_hermes/*.py
!rhasspy-rasa-nlu-hermes/setup.py
!rhasspy-rasa-nlu-hermes/requirements.txt
!rhasspy-rasa-nlu-hermes/VERSION
!rhasspy-rasa-nlu-hermes/README.md
!rhasspy-rasa-nlu-hermes/MANIFEST.in

!rhasspy-snips-nlu/rhasspysnips_nlu/*.py
!rhasspy-snips-nlu/setup.py
!rhasspy-snips-nlu/requirements.txt
!rhasspy-snips-nlu/VERSION
!rhasspy-snips-nlu/README.md
!rhasspy-snips-nlu/MANIFEST.in
!rhasspy-snips-nlu/etc/languages/*.tar.gz

!rhasspy-snips-nlu-hermes/bin/rhasspy-snips-nlu-hermes
!rhasspy-snips-nlu-hermes/rhasspysnips_nlu_hermes/*.py
!rhasspy-snips-nlu-hermes/setup.py
!rhasspy-snips-nlu-hermes/requirements.txt
!rhasspy-snips-nlu-hermes/VERSION
!rhasspy-snips-nlu-hermes/README.md
!rhasspy-snips-nlu-hermes/MANIFEST.in

!rhasspy-remote-http-hermes/bin/rhasspy-remote-http-hermes
!rhasspy-remote-http-hermes/rhasspyremote_http_hermes/*.py
!rhasspy-remote-http-hermes/setup.py
!rhasspy-remote-http-hermes/requirements.txt
!rhasspy-remote-http-hermes/VERSION
!rhasspy-remote-http-hermes/README.md
!rhasspy-remote-http-hermes/MANIFEST.in

!rhasspy-server-hermes/bin/rhasspy-server-hermes
!rhasspy-server-hermes/rhasspyserver_hermes/*.py
!rhasspy-server-hermes/setup.py
!rhasspy-server-hermes/requirements.txt
!rhasspy-server-hermes/VERSION
!rhasspy-server-hermes/README.md
!rhasspy-server-hermes/MANIFEST.in
!rhasspy-server-hermes/templates
!rhasspy-server-hermes/web

!rhasspy-silence/rhasspysilence/*.py
!rhasspy-silence/setup.py
!rhasspy-silence/requirements.txt
!rhasspy-silence/VERSION
!rhasspy-silence/README.md
!rhasspy-silence/MANIFEST.in

!rhasspy-speakers-cli-hermes/bin/rhasspy-speakers-cli-hermes
!rhasspy-speakers-cli-hermes/rhasspyspeakers_cli_hermes/*.py
!rhasspy-speakers-cli-hermes/setup.py
!rhasspy-speakers-cli-hermes/requirements.txt
!rhasspy-speakers-cli-hermes/VERSION
!rhasspy-speakers-cli-hermes/README.md
!rhasspy-speakers-cli-hermes/MANIFEST.in

!rhasspy-supervisor/rhasspysupervisor/*.py
!rhasspy-supervisor/setup.py
!rhasspy-supervisor/requirements.txt
!rhasspy-supervisor/VERSION
!rhasspy-supervisor/README.md
!rhasspy-supervisor/MANIFEST.in

!rhasspy-tts-cli-hermes/bin/rhasspy-tts-cli-hermes
!rhasspy-tts-cli-hermes/rhasspytts_cli_hermes/*.py
!rhasspy-tts-cli-hermes/setup.py
!rhasspy-tts-cli-hermes/requirements.txt
!rhasspy-tts-cli-hermes/VERSION
!rhasspy-tts-cli-hermes/README.md
!rhasspy-tts-cli-hermes/MANIFEST.in

!rhasspy-tts-larynx-hermes/bin/rhasspy-tts-larynx-hermes
!rhasspy-tts-larynx-hermes/rhasspytts_larynx_hermes/*.py
!rhasspy-tts-larynx-hermes/larynx
!rhasspy-tts-larynx-hermes/setup.py
!rhasspy-tts-larynx-hermes/requirements.txt
!rhasspy-tts-larynx-hermes/VERSION
!rhasspy-tts-larynx-hermes/README.md
!rhasspy-tts-larynx-hermes/MANIFEST.in

!rhasspy-tts-wavenet-hermes/bin/rhasspy-tts-wavenet-hermes
!rhasspy-tts-wavenet-hermes/rhasspytts_wavenet_hermes/*.py
!rhasspy-tts-wavenet-hermes/setup.py
!rhasspy-tts-wavenet-hermes/requirements.txt
!rhasspy-tts-wavenet-hermes/VERSION
!rhasspy-tts-wavenet-hermes/README.md
!rhasspy-tts-wavenet-hermes/MANIFEST.in

!rhasspy-wake-pocketsphinx-hermes/bin/rhasspy-wake-pocketsphinx-hermes
!rhasspy-wake-pocketsphinx-hermes/rhasspywake_pocketsphinx_hermes/*.py
!rhasspy-wake-pocketsphinx-hermes/setup.py
!rhasspy-wake-pocketsphinx-hermes/requirements.txt
!rhasspy-wake-pocketsphinx-hermes/VERSION
!rhasspy-wake-pocketsphinx-hermes/README.md
!rhasspy-wake-pocketsphinx-hermes/MANIFEST.in

!rhasspy-wake-porcupine-hermes/bin/rhasspy-wake-porcupine-hermes
!rhasspy-wake-porcupine-hermes/rhasspywake_porcupine_hermes/*.py
!rhasspy-wake-porcupine-hermes/rhasspywake_porcupine_hermes/porcupine
!rhasspy-wake-porcupine-hermes/setup.py
!rhasspy-wake-porcupine-hermes/requirements.txt
!rhasspy-wake-porcupine-hermes/VERSION
!rhasspy-wake-porcupine-hermes/README.md
!rhasspy-wake-porcupine-hermes/MANIFEST.in

!rhasspy-wake-precise-hermes/bin/rhasspy-wake-precise-hermes
!rhasspy-wake-precise-hermes/rhasspywake_precise_hermes/*.py
!rhasspy-wake-precise-hermes/setup.py
!rhasspy-wake-precise-hermes/requirements.txt
!rhasspy-wake-precise-hermes/VERSION
!rhasspy-wake-precise-hermes/README.md
!rhasspy-wake-precise-hermes/MANIFEST.in
!rhasspy-wake-precise-hermes/rhasspywake_precise_hermes/models

!rhasspy-wake-raven/rhasspywake_raven/*.py
!rhasspy-wake-raven/setup.py
!rhasspy-wake-raven/requirements.txt
!rhasspy-wake-raven/VERSION
!rhasspy-wake-raven/README.md
!rhasspy-wake-raven/MANIFEST.in

!rhasspy-wake-raven-hermes/bin/rhasspy-wake-raven-hermes
!rhasspy-wake-raven-hermes/rhasspywake_raven_hermes/*.py
!rhasspy-wake-raven-hermes/setup.py
!rhasspy-wake-raven-hermes/requirements.txt
!rhasspy-wake-raven-hermes/VERSION
!rhasspy-wake-raven-hermes/README.md
!rhasspy-wake-raven-hermes/MANIFEST.in
!rhasspy-wake-raven-hermes/rhasspywake_raven_hermes/templates

!rhasspy-wake-snowboy-hermes/bin/rhasspy-wake-snowboy-hermes
!rhasspy-wake-snowboy-hermes/rhasspywake_snowboy_hermes/*.py
!rhasspy-wake-snowboy-hermes/setup.py
!rhasspy-wake-snowboy-hermes/requirements.txt
!rhasspy-wake-snowboy-hermes/VERSION
!rhasspy-wake-snowboy-hermes/README.md
!rhasspy-wake-snowboy-hermes/MANIFEST.in
!rhasspy-wake-snowboy-hermes/rhasspywake_snowboy_hermes/models