[submodule "rhasspy-asr"]
	path = rhasspy-asr
	url = https://github.com/rhasspy/rhasspy-asr.git
	branch = master
[submodule "rhasspy-asr-kaldi"]
	path = rhasspy-asr-kaldi
	url = https://github.com/rhasspy/rhasspy-asr-kaldi.git
	branch = master
[submodule "rhasspy-asr-kaldi-hermes"]
	path = rhasspy-asr-kaldi-hermes
	url = https://github.com/rhasspy/rhasspy-asr-kaldi-hermes.git
	branch = master
[submodule "rhasspy-asr-pocketsphinx"]
	path = rhasspy-asr-pocketsphinx
	url = https://github.com/rhasspy/rhasspy-asr-pocketsphinx.git
	branch = master
[submodule "rhasspy-asr-pocketsphinx-hermes"]
	path = rhasspy-asr-pocketsphinx-hermes
	url = https://github.com/rhasspy/rhasspy-asr-pocketsphinx-hermes.git
	branch = master
[submodule "rhasspy-dialogue-hermes"]
	path = rhasspy-dialogue-hermes
	url = https://github.com/rhasspy/rhasspy-dialogue-hermes.git
	branch = master
[submodule "rhasspy-hermes"]
	path = rhasspy-hermes
	url = https://github.com/rhasspy/rhasspy-hermes.git
	branch = master
[submodule "rhasspy-microphone-cli-hermes"]
	path = rhasspy-microphone-cli-hermes
	url = https://github.com/rhasspy/rhasspy-microphone-cli-hermes.git
	branch = master
[submodule "rhasspy-microphone-pyaudio-hermes"]
	path = rhasspy-microphone-pyaudio-hermes
	url = https://github.com/rhasspy/rhasspy-microphone-pyaudio-hermes.git
	branch = master
[submodule "rhasspy-nlu"]
	path = rhasspy-nlu
	url = https://github.com/rhasspy/rhasspy-nlu.git
	branch = master
[submodule "rhasspy-nlu-hermes"]
	path = rhasspy-nlu-hermes
	url = https://github.com/rhasspy/rhasspy-nlu-hermes.git
	branch = master
[submodule "rhasspy-profile"]
	path = rhasspy-profile
	url = https://github.com/rhasspy/rhasspy-profile.git
	branch = master
[submodule "rhasspy-server-hermes"]
	path = rhasspy-server-hermes
	url = https://github.com/rhasspy/rhasspy-server-hermes.git
	branch = master
[submodule "rhasspy-silence"]
	path = rhasspy-silence
	url = https://github.com/rhasspy/rhasspy-silence.git
	branch = master
[submodule "rhasspy-speakers-cli-hermes"]
	path = rhasspy-speakers-cli-hermes
	url = https://github.com/rhasspy/rhasspy-speakers-cli-hermes.git
	branch = master
[submodule "rhasspy-supervisor"]
	path = rhasspy-supervisor
	url = https://github.com/rhasspy/rhasspy-supervisor.git
	branch = master
[submodule "rhasspy-tts-cli-hermes"]
	path = rhasspy-tts-cli-hermes
	url = https://github.com/rhasspy/rhasspy-tts-cli-hermes.git
	branch = master
[submodule "rhasspy-wake-porcupine-hermes"]
	path = rhasspy-wake-porcupine-hermes
	url = https://github.com/rhasspy/rhasspy-wake-porcupine-hermes.git
	branch = master
[submodule "rhasspy-web-vue"]
	path = rhasspy-web-vue
	url = https://github.com/rhasspy/rhasspy-web-vue.git
	branch = master
[submodule "rhasspy-wake-snowboy-hermes"]
	path = rhasspy-wake-snowboy-hermes
	url = https://github.com/rhasspy/rhasspy-wake-snowboy-hermes.git
	branch = master
[submodule "rhasspy-remote-http-hermes"]
	path = rhasspy-remote-http-hermes
	url = https://github.com/rhasspy/rhasspy-remote-http-hermes.git
	branch = master
[submodule "rhasspy-fuzzywuzzy-hermes"]
	path = rhasspy-fuzzywuzzy-hermes
	url = https://github.com/rhasspy/rhasspy-fuzzywuzzy-hermes/
	branch = master
[submodule "rhasspy-fuzzywuzzy"]
	path = rhasspy-fuzzywuzzy
	url = https://github.com/rhasspy/rhasspy-fuzzywuzzy
	branch = master
[submodule "rhasspy-wake-pocketsphinx-hermes"]
	path = rhasspy-wake-pocketsphinx-hermes
	url = https://github.com/rhasspy/rhasspy-wake-pocketsphinx-hermes
	branch = master
[submodule "rhasspy-homeassistant-hermes"]
	path = rhasspy-homeassistant-hermes
	url = https://github.com/rhasspy/rhasspy-homeassistant-hermes
	branch = master
[submodule "rhasspy-wake-precise-hermes"]
	path = rhasspy-wake-precise-hermes
	url = https://github.com/rhasspy/rhasspy-wake-precise-hermes
	branch = master
[submodule "rhasspy-rasa-nlu-hermes"]
	path = rhasspy-rasa-nlu-hermes
	url = https://github.com/rhasspy/rhasspy-rasa-nlu-hermes
	branch = master
[submodule "rhasspy-asr-deepspeech-hermes"]
	path = rhasspy-asr-deepspeech-hermes
	url = https://github.com/rhasspy/rhasspy-asr-deepspeech-hermes
	branch = master
[submodule "rhasspy-snips-nlu-hermes"]
	path = rhasspy-snips-nlu-hermes
	url = https://github.com/rhasspy/rhasspy-snips-nlu-hermes
	branch = master
[submodule "rhasspy-asr-deepspeech"]
	path = rhasspy-asr-deepspeech
	url = https://github.com/rhasspy/rhasspy-asr-deepspeech
	branch = master
[submodule "rhasspy-snips-nlu"]
	path = rhasspy-snips-nlu
	url = https://github.com/rhasspy/rhasspy-snips-nlu
	branch = master
