[submodule "rhasspy-asr"]
	path = rhasspy-asr
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-asr.git
  branch = master
[submodule "rhasspy-asr-kaldi"]
	path = rhasspy-asr-kaldi
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-asr-kaldi.git
  branch = master
[submodule "rhasspy-asr-kaldi-hermes"]
	path = rhasspy-asr-kaldi-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-asr-kaldi-hermes.git
  branch = master
[submodule "rhasspy-asr-pocketsphinx"]
	path = rhasspy-asr-pocketsphinx
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-asr-pocketsphinx.git
  branch = master
[submodule "rhasspy-asr-pocketsphinx-hermes"]
	path = rhasspy-asr-pocketsphinx-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-asr-pocketsphinx-hermes.git
  branch = master
[submodule "rhasspy-dialogue-hermes"]
	path = rhasspy-dialogue-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-dialogue-hermes.git
  branch = master
[submodule "rhasspy-hermes"]
	path = rhasspy-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-hermes.git
  branch = master
[submodule "rhasspy-microphone-cli-hermes"]
	path = rhasspy-microphone-cli-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-microphone-cli-hermes.git
  branch = master
[submodule "rhasspy-microphone-pyaudio-hermes"]
	path = rhasspy-microphone-pyaudio-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-microphone-pyaudio-hermes.git
  branch = master
[submodule "rhasspy-nlu"]
	path = rhasspy-nlu
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-nlu.git
  branch = master
[submodule "rhasspy-nlu-hermes"]
	path = rhasspy-nlu-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-nlu-hermes.git
  branch = master
[submodule "rhasspy-profile"]
	path = rhasspy-profile
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-profile.git
  branch = master
[submodule "rhasspy-server-hermes"]
	path = rhasspy-server-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-server-hermes.git
  branch = master
[submodule "rhasspy-silence"]
	path = rhasspy-silence
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-silence.git
  branch = master
[submodule "rhasspy-speakers-cli-hermes"]
	path = rhasspy-speakers-cli-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-speakers-cli-hermes.git
  branch = master
[submodule "rhasspy-supervisor"]
	path = rhasspy-supervisor
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-supervisor.git
  branch = master
[submodule "rhasspy-tts-cli-hermes"]
	path = rhasspy-tts-cli-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-tts-cli-hermes.git
  branch = master
[submodule "rhasspy-wake-porcupine-hermes"]
	path = rhasspy-wake-porcupine-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-wake-porcupine-hermes.git
  branch = master
[submodule "rhasspy-web-vue"]
	path = rhasspy-web-vue
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-web-vue.git
  branch = master
[submodule "rhasspy-wake-snowboy-hermes"]
	path = rhasspy-wake-snowboy-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-wake-snowboy-hermes.git
  branch = master
[submodule "rhasspy-remote-http-hermes"]
	path = rhasspy-remote-http-hermes
	url = ssh://git@cecep-prime:9022/michael.hansen.24/rhasspy-remote-http-hermes.git
	branch = master
[submodule "rhasspy-fuzzywuzzy-hermes"]
	path = rhasspy-fuzzywuzzy-hermes
	url = ./rhasspy-fuzzywuzzy-hermes/
[submodule "rhasspy-fuzzywuzzy"]
	path = rhasspy-fuzzywuzzy
	url = ./rhasspy-fuzzywuzzy
[submodule "rhasspy-wake-pocketsphinx-hermes"]
	path = rhasspy-wake-pocketsphinx-hermes
	url = ./rhasspy-wake-pocketsphinx-hermes
