aiofiles==0.4.0
aiohttp==3.7.4
dataclasses-json==0.4.2
deepspeech==0.9.3
detect-simd==0.2
hypercorn==0.10.1
Jinja2==2.11.3
json5==0.9.3
jsonlines==1.2.0
larynx~=0.3.0
marko==1.0.1
mkdocs >= 1.0.4
networkx==2.4
num2words==0.5.10
paho-mqtt==1.5.0
pocketsphinx==0.1.15
pvporcupine~=1.9.0
PyAudio==0.2.11
pydash==4.7.6
pyparsing==2.4.7
python_speech_features==0.6
pyyaml==5.4
quart==0.11.3
quart-cors==0.3.0
rapidfuzz==1.0.0
scipy==1.5.1
swagger-ui-py==0.2.1
wavchunk~=1.0.0
webrtcvad==2.0.10
