Package: rhasspy-voltron
Version: ${version}
Section: utils
Priority: optional
Depends: sox,libgfortran3
Architecture: ${architecture}
Maintainer: Michael Hansen
Description: All in one Rhasspy server
